#wrap{width:100%; height:auto; margin:auto; background-color:transparent;}
h2{display:none;}

/*===============================wrap===========================================*/

@media screen and (max-width:480px){

  #headBox{position: fixed; width:100%; height:70px; background-color:rgba(255,255,255,0.5);}
    .logo_Box{width:30%; height:70px; background-color:rgba(255,255,255,0.5); float:left;}
      .text_01{text-align:center; font-size:40px; margin-top:5%; font-weight:bold;}
    .sub_btn{width:20%; height:70px; background-color:#dffe11; float:right;}
    ol{display:none;}

  #adBox{width: 100%; height: 728px; background-color: #777; padding-top:50px; box-sizing: border-box;}
    .ad_Box{width:400px; height:500px; background-color:#999; margin:auto;}

  #contentBox_01{width:100%; height:315px; background-color:#94a; padding-top:10px; box-sizing: border-box;}
    .con_Box_01{width:400px; height:45px; background-color:#1445ff; margin:auto; margin-bottom:20px;}
    .con_Box_02{width:438px; height:195px; background-color:#554286; margin:auto; }

  #contentBox_02{width:100%; height:320px; background-color:#59f; padding-top:10px; box-sizing:border-box;}
    .con_01{width:190px; height:260px; background-color:#ff4568; margin-left:20px;}

  #contentBox_03{width:100%; height:412px; background-color:#faa;}
    .conBox_01{width:100%; height: 170px; background-color:#aeed71; padding-top:20px; box-sizing: border-box;}
      .conBox_02{width:328px; height:25px; margin:auto; background-color:#445566; margin-bottom:30px;}
      .conBox_03{width:170px; height: 245px; background-color:#546ffe; float:left;}
      .conBox_04{width:170px; height: 245px; background-color:#546ffe; float:right;}

  #contentBox_04{width:100%; height:250px; background-color:#999; padding-top:30px; box-sizing: border-box;}
    .conbox_01{width:400px; height:50px; background-color:#ffff11; margin:auto; margin-bottom: 10px;}
    .conbox_02{width:328px; height:100px; background-color:#ffff11; margin:auto; }

  #contentBox_05{width:100%; height:250px; background-color:#ff4; padding-top:150px; box-sizing: border-box;}
    .con_btn_01{width:125px; height:40px; background-color:#15f; float:right; margin-right:50px;}

  #contentBox_06{width:100%; height:250px; background-color: #4ff; padding-top:150px; box-sizing: border-box;}
  .con_btn_02{width:125px; height:40px; background-color:#15f; float:right; margin-right:50px;}

  #contentBox_07{width:100%; height:250px; background-color:#19f;}
    .content_01{width:215px;  height:250px; background-color:#5263ee; }

  #footBox{width:100%; height:70px; background-color:#5f44ae;}
    .footBox_01{width:100%; height:35px; background-color:#888888;}
    .footBox_02{width:100%; height:35px; background-color:#4eecfe;}

}
 
 /*============================mobale and ========================================*/

@media screen and (min-width:481px) and (max-width:768px){

  #headBox{position:fixed; width:100%; height:70px; background-color:rgba(255,255,255,0.5);}
    .logo_Box{width:30%; height:70px; background-color:rgba(255,255,255,0.5);float:left;}
    .text_01{text-align:center; font-size:40px; margin-top:5%; font-weight:bold;}
    .sub_btn{width:20%; height:70px; background-color:#dffe11; float:right;}


    .sub_btn{width:100px; height:45px; background-color:transparent;  float:right;}
      .sub_btn01{width:40px; height:25px; background-color:#3ff; float:left; margin-right:10px;}
      .sub_btn02{width:40px; height:25px; background-color:#333; float:right;}


    .sub_btnBox{width:39.71354166666667vw;/*305/768*100*/ height:45px; border:2px solid #fff; background-color:rgba(255,255,255,0.5); float:right; padding-top:8px; box-sizing:border-box;}
      .sub_btn_01{width:20%; height: 25px; background-color:#57f; float:left; margin-right:10%; margin-left:10%;}
      .sub_btn_02{width:20%; height:25px; background-color:#57f; float:left; margin-right:10%;}
      .sub_btn_03{width:20%; height:25px; background-color:#57f; float:left; margin-right:0;}
      .sub_btn_04{display: none;}
      .sub_btn_05{display: none;}

  #adBox{width:100%; height:610px;  background-color:#689; padding-top:50px;}
    .ad_Box{width:65.1041666vw;/*500/768*100*/ height:500px; background-color:#999; margin:auto;}


  #contentBox_01{width:100%; height:405px; background-color:#196; margin:0;}
    .con_Box_01{width:40%; height:100%; background-color:#1445ff; float:left;}
    .con_Box_02{width:60%; height:30%; background-color:#554286; float:left;}
    .con_Box_03{width:60%; height:70%; background-color:#8fcecf; float:left;}

  #contentBox_02{width:100%; height:385px; background-color:#ffa; padding-top:30px; box-sizing:border-box;}
    .con_01{width:38%; height:32.55208333333333vw;/*250/768/*100*/ background-color:#ff4568; margin-left:15px;}


  #contentBox_03{width:100%; height:445px; background-color:#fdd;}
  .conBox_01{width:100%; height:22.10663198vw;/*170/769*100*/ background-color:#aeed71; padding-top:20px; box-sizing: border-box;}
      .conBox_02{width:430px; height:45px; margin:auto; background-color:#445566; margin-bottom: 30px;}
      .conBox_03{width:25%; height:31.90104166666667vw;/*245/768*100*/ background-color:#546ffe; float:left; margin-right:12%;}
      .conBox_04{width:25%; height:31.90104166666667vw; background-color:#546ffe; float:left; margin-right:12%;}
      .conBox_05{width:25%; height:31.90104166666667vw; background-color:#546ffe; float:right; margin:0;}


  #contentBox_04{width:100%; height:450px; background-color:#999;}
    .conbox_01{width:40%; height:100%; background-color:#ffff11; float:left;}
    .conbox_02{width:60%; height:50%; background-color:#cce124; float:left;}
    .conbox_03{width:60%; height:50%; background-color:#ccfff4; float:left;}

  #contentBox_05{display:none;}
  #contentBox_06{display:none;}

  #contentBox_07{width:100%; height:295px; background-color:#19f;}
    .content_01{width:35%; height:100%; background-color:#5263ee;}


  #footBox{width:100%; height:156px; background-color:#445efa;}
    .footBox_01{width:100%; height:78px; background-color:#888ff8;}
    .footBox_02{width:100%; height:78px; background-color:#4eecfe;}

}

/*===============================tablet and==========================================*/

@media screen and (min-width:769px) and (max-width:1366px){ 

  #headBox{position:fixed; width:100%; height:70px; background-color:rgba(255,255,255,0.5);}
    .logo_Box{width:22%; height:70px; background-color:rgba(255,255,255,0.5); float:left;}
      .text_01{text-align:center; font-size:40px;font-weight:bold;}


    .sub_btn{width:10%; height:45px; background-color:transparent; float:right; }
      .sub_btn01{width:45%; height:25px; background-color:#3ff; float:left; margin-right:5px;}
      .sub_btn02{width:45%; height:25px; background-color:#333; float:right;}


    .sub_btnBox{width:50%; height:45px; border:2px solid #fff; background-color:rgba(255,255,255,0.5); float:right; padding-top:8px; box-sizing:border-box;}
      .sub_btn_01{width:15%; height: 25px; background-color:#57f; float:left; margin-right:5%; margin-left:10px;}
      .sub_btn_02{width:15%; height:25px; background-color:#57f; float:left; margin-right:5%;}
      .sub_btn_03{width:15%; height:25px; background-color:#57f; float:left; margin-right:0; margin-right:5%;}
      .sub_btn_04{width:15%; height:25px; background-color:#57f; float:left; margin-right:0;margin-right:5%;}
      .sub_btn_05{width:15%; height:25px; background-color:#57f; float:left; margin:0;}

  #adBox{width:100%; height:750px; background-color:#689; padding-top: 50px;}
    .ad_Box{width:82.57477243172952vw;/*635/769*100*/ height:550px; background-color:#999; margin:auto;}


  #contentBox_01{width:100%; height:405px; background-color:#196; margin:0;}
    .con_Box_01{width:40%; height:405px; background-color:#1445ff; float:left;}
    .con_Box_02{width:60%; height:70px; background-color:#554286; float:left;}
    .con_Box_03{width:60%; height:335px; background-color:#8fcecf; float:left;}

  #contentBox_02{width:100%; height:385px; background-color:#ffa; padding-top:30px; box-sizing:border-box;}
    .con_01{width:355px; height:40vw;/*320/768/*100*/ background-color:#ff4568; margin-left:20px;}


  #contentBox_03{width:100%; height:545px; background-color:#fdd;}
  .conBox_01{width:100%; height:22.10663198vw;/*170/769*100*/ background-color:#aeed71; padding-top:20px; box-sizing: border-box;}
      .conBox_02{width:40%; height:45px; margin:auto; background-color:#445566; margin-bottom: 30px;} 
      .conBox_03{width:20%; height: 245px; background-color:#546ffe; float:left; margin-right:18%;}
      .conBox_04{width:20%; height: 245px; background-color:#546ffe; float:left; margin-right:18%;}
      .conBox_05{width:20%; height: 245px; background-color:#546ffe; float:right; margin:0;}


  #contentBox_04{width:100%; height:450px; background-color:#999;}
    .conbox_01{width:40%; height:450px; background-color:#ffff11; float:left;}
    .conbox_02{width:60%; height:225px; background-color:#cce124; float:left;}
    .conbox_03{width:60%; height:225px; background-color:#ccfff4; float:left;}

  #contentBox_05{display:none;}
  #contentBox_06{display:none;}

  #contentBox_07{width:100%; height:295px; background-color:#19f;}
    .content_01{width:25%; height:295px; background-color:#5263ee;}


  #footBox{width:100%; height:156px; background-color:#445efa;}
    .footBox_01{width:100%; height:78px; background-color:#888ff8;}
    .footBox_02{width:100%; height:78px; background-color:#4eecfe;}
  }

/*=============================pc and =================================================*/

@media screen and (min-width:1367px){

  #headBox{width:100%; height:100px; background-color:rgba(255,255,255,0.5);position:fixed;}
    .logo_Box{width:22%; height:100%; background-color:rgba(255,255,255,0.5); float:left;}
    .text_01{text-align:center; font-size:60px; margin-top:5%; font-weight:bold;}


    .sub_btn{width:10%; height:45px; background-color:transparent; float:right;}
      .sub_btn01{width:45%; height:25px; background-color:#3ff; float:left; margin-right:5px;}
      .sub_btn02{width:45%; height:25px; background-color:#333; float:right;}


    .sub_btnBox{width:50%; height:45px; border:2px solid #fff; background-color:rgba(255,255,255,0.1); float:right; padding-top:8px; box-sizing:border-box;}
      .sub_btn_01{width:15%; height: 25px; background-color:#57f; float:left; margin-right:5%; margin-left:10px;}
      .sub_btn_02{width:15%; height:25px; background-color:#57f; float:left; margin-right:5%;}
      .sub_btn_03{width:15%; height:25px; background-color:#57f; float:left; margin-right:0; margin-right:5%;}
      .sub_btn_04{width:15%; height:25px; background-color:#57f; float:left; margin-right:0;margin-right:5%;}
      .sub_btn_05{width:15%; height:25px; background-color:#57f; float:left; margin:0;}

  #adBox{width:100%; height:940px;background-color:#ffccff; padding-top:130px; box-sizing: border-box;}
  .ad_Box{width:82.57477243172952vw;/*635/769*100*/ height:550px; background-color:#999; margin:auto;}


  #contentBox_01{width:100%; height:1048px; background-color:#f555aa;}
    .con_Box_01{width:40%; height:100%; background-color:#1445ff;float:left;}
    .con_Box_02{width:60%; height:50%; background-color:#554286; float:left;}
      .con_box_1{width:50%; height:100%; background-color:#97423f;float:left;}
    .con_Box_03{width:60%; height:50%; background-color:#8fcecf; float:left;}
      .con_box_2{width:50%; height:100%; background-color:#84f; float:right;}


   #contentBox_02{width:100%; height:600px; background-color:#ffa; padding-top:30px; box-sizing:border-box;}
    .con_01{width:355px; height:24.43494196701283vw;/*400/1637/*100*/ background-color:#ff4568; margin-left:20px;}

   #contentBox_03{width:100%; height:39.86832479882955vw;/*545/1367*100*/ background-color:#fdd;}
  .conBox_01{width:100%; height:22.10663198vw;/*170/769*100*/ background-color:#aeed71; padding-top:20px; box-sizing: border-box;}
      .conBox_02{width:40%; height:45px; margin:auto; background-color:#445566; margin-bottom:80px;} 
      .conBox_03{width:20%; height:23.06002928257687vw/*315/1366*100*/; background-color:#546ffe; float:left; margin-right:7%;}
      .conBox_04{width:20%; height:23.06002928257687vw; background-color:#546ffe; float:left; margin-right:7%;}
      .conBox_05{width:20%; height:23.06002928257687vw; background-color:#546ffe; float:left; margin-right:5%;}
       .conBox_06{width:20%; height:23.06002928257687vw; background-color:#546ffe; float:right; margin:0;}

  #contentBox_04{width:100%; height:700px; background-color:#ee5514;}
    .conbox_01{width:40%; height:100%; background-color:#ffff11; float:right;}
    .conbox_02{width:60%; height:50%; background-color:#cce124; float:left;}
      .sub_01{width:50%;  height:100%; background-color:#ffccee; float:left;}
    .conbox_03{width:60%; height:50%; background-color:#ccfff4; float:left;}
      .sub_02{width:50%;  height:100%; background-color:#ff755e; float:right;}
      

  #contentBox_05{display: none;}
  #contentBox_06{display: none;}

  #contentBox_07{width:100%; height:500px; background-color:#19f;}
    .content_01{width:25%; height:100%; background-color:#5263ee;}

  #footBox{width:100%; height:190px; background-color:#3d7815;}
    .footBox_01{width:100%; height:95px; background-color:#888ff8;}
    .footBox_02{width:100%; height:95px; background-color:#4eecfe;}
}