#wrap{width:100%; height:auto; margin:auto; background-color: #fa0;}

/*===============================wrap===========================================*/

@media screen and (max-width:480px){

  #headBox{width:480px; height:70px; background-color: #faf;}

  #adBox{width: 480px; height: 728px; background-color: #777;}

  #contentBox_01{width:480px; height:315px; background-color:#94a;}

  #contentBox_02{width:480px; height:320px; background-color:#59f;}

  #contentBox_03{width:480px; height:412px; background-color:#faa;}

  #contentBox_04{width:480px; height:250px; background-color:#999;}

  #contentBox_05{width:480px; height:250px; background-color:#ff4;}

  #contentBox_06{width:480px; height:250px; background-color: #4ff;}

  #contentBox_07{width:480px; height:250px; background-color:#19f;}

  #footBox{width:480px; height:70px; background-color:#5f44ae;}
}
 
 /*============================mobale and ========================================*/

@media screen and (min-width:481px) and (max-width:768px){

  #headBox{width:768px; height:70px; background-color:#afa;}
  #adBox{width:768px; height:610px;  background-color:#689;}
  #contentBox_01{width:768px; height:405px; background-color:#196;}
  #contentBox_02{width:768px; height:385px; background-color:#ffa;}
  #contentBox_03{width:768px; height:545px; background-color:#fdd;}
  #contentBox_04{width:768px; height:450px; background-color:#8a6e1f;}
  #contentBox_05{width:768px; height:295px; background-color:#ffae11;}|
  #contentBox_06{display:none;}
  #contentBox_07{display:none;}
  #footBox{width:786px; height:156px; background-color:#445efa;}
}

/*===============================tablet and==========================================*/

@media screen and (min-width:769px) and (max-width:1366px) {

  #headBox{width:100%; height:11.8307692307vw;/*769/130*100*/ background-color:#554aff;}
  #adBox{width:100%; height:945px; background-color:#99fa;}
  #contentBox_01{width: 100%; height:545px; background-color:#1766ba;}
  #contentBox_02{width: 100%; height:545px; background-color:#ffffaa;}
  #contentBox_03{width: 100%; height:815px; background-color:#89faad;}
  #contentBox_04{width: 100%; height:658px; background-color:#addd15;} 
  #contentBox_05{width: 100%; height:388px; background-color:#855fff;}
  #contentBox_06{display: none;}
  #contentBox_07{display: none;}
  #footBox{width:100%; height:178px; background-color:#99eedd;}

}

@media screen and (min-width:1367px){

  #headBox{width:100%; height:130px; background-color:#546824;}
  #adBox{width:100%; height:940px; background-color:#ffccff;}
  #contentBox_01{width:100%; height: 528px; background-color:#f555aa;}
  #contentBox_02{width: 100%; height: 525px; background-color:#667788;}
  #contentBox_03{width: 100%; height: 890px; background-color:#ccaf46;}
  #contentBox_04{width: 100%; height: 810px; background-color:#ee5514;}
  #contentBox_05{width: 100%; height: 440px; background-color:#faccef;}
  #contentBox_06{display: none;}
  #contentBox_07{display: none;}
  #footBox{width:100%; height:228px; background-color:#3d7815;}
}