/*perspective.css*/

@charset "UTF-8";

#wrap{margin:auto; width:60rem; height:auto; min-height:5rem; background-color:#dfdfdf;}

h1{text-align:center; border-bottom:1px solid #333; margin-bottom:1rem;}





.per{perspective:200px; position:relative; margin:auto; width: 90%; height: 20rem; background-color:#ccf; perspective-origin:right top;}

.card{ width: 5rem; height:10rem; background-color:#f66; border-radius:0.4rem;}
.card_1{float: left; transform:rotateY(15deg) translateX(3rem);}
.card_2{float: right; transform: rotateY(15deg);}





